<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="richiesta_quotazione">
{% for caratteristica in unita %}
    <input name="{{ caratteristica.nome }}" value="{{ caratteristica.valore }}">
{% endfor %}
    <button typ="submit" text="Invia">
</div>

<script>
    $( document ).ready(function() {
      var richiesta = "{"
      $('#richiesta_quotazione input').each(function(el) {
          richiesta = richiesta.concat('"' + el.attr('name') + '": "' + el.val() + '", ');
      }) 
      richiesta = richiesta + '}' 
    })
</script>